ob-julia-vterm
org-agenda-extra
org-tree-slide
org-julia-mode
chuck-mode
ox-tufte
ob-penrose
org-roam-ui
lean4-mode
ob-latex
idris-mode
org-lean-mode
julia-vterm
epie
org-agda-mode
agda-lsp-mode
org-present-extra
polymode
jupyter
org-tufte
org-modern-indent
