[submodule "idris2-mode"]
	path = idris2-mode
	url = https://github.com/idris-community/idris2-mode.git
[submodule "org-tree-slide"]
	path = org-tree-slide
	url = git@github.com:sebeaumont/org-tree-slide.git
[submodule "org-agda-mode"]
	path = org-agda-mode
	url = ./org-agda-mode
[submodule "./org-agda-mode"]
	url = git@github.com:sebeaumont/org-agda-mode.git
